<% if @booking.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@booking.errors.count, "error") %> 
	    prohibited this post from being saved:</h2>

	  <ul>
	  <% @booking.errors.full_messages.each do |message| %>
	    <li><%= message %></li>
	  <% end %>
	  </ul>
	</div>
<% end %>

<div class="container">
  <h2>Booking</h2>
  <%= form_for @booking, url: {action: "create"}, html: {class: "form-horizontal"} do |b| %>
    <div class="form-group">
      <div class="col-sm-6"><%= b.label :email %><%= b.email_field :email, class: "form-control", required: "required" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6"><%= b.label :flight_number %><%= b.text_field :flight_type, class: "form-control", required: "required" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-3"><%= b.label :airport %><%= b.select :airport, options_for_select(["MIA", "FORT"], selected: "MIA"), {}, class: "form-control" %></div>
      <div class="col-sm-3"><%= b.label :hotel %><%= b.select :hotel_id, options_from_collection_for_select(@hotels, "id", "name"), {}, class: "form-control"%></div>
    </div>
    <div class="form-group">
      <div class="col-sm-3"><%= b.label :single %><%= b.number_field :single, min:0, class: "form-control" %></div>
      <div class="col-sm-3"><%= b.label :double %><%= b.number_field :double, min:0, class: "form-control"%></div>
    </div>
    <div class="form-group">
      <div class="col-sm-3"><%= b.date_field :datein, as: :datepicker, placeholder: 'CheckIn', class: "form-control", required: "required" %></div>
      <div class="col-sm-3"><%= b.date_field :dateout, as: :datepicker, placeholder: 'CheckOut', class: "form-control", required: "required"%></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6"><%= b.label :creditcard %><%= b.text_field :creditcard, class: "form-control", required: "required"%></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6"><%= b.label :comments %><%= b.text_area :comments, class: "form-control"%></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <%= b.submit "Create Booking", class: "btn btn-info pull-right" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
 $(function() {
    $( "#booking_datein" ).datepicker({ minDate: 0, maxDate: "+3M +10D", dateFormat: 'yy/mm/dd'});
  });
  $(function() {
    $( "#booking_dateout" ).datepicker({ minDate: 0, maxDate: "+3M +10D", dateFormat: 'yy/mm/dd' });
  });
</script>