<!DOCTYPE html>
<html>
  <head>
    <title>Allied Hospitality</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  </head>
  <body>
    <style type="text/css">
          html, body {
            height: 100%;
          }
          .page-wrap {
            min-height: 100%;
            /* equal to footer height */
            margin-bottom: -90px; 
          }
          .page-wrap:after {
            content: "";
            display: block;
          }
          .site-footer, .page-wrap:after {
            height: 90px; 
          }
    </style>

      <div class="container">
        <% if !params[:notice].blank? %>
          <div style="padding-top: 1%">
            <div class="alert alert-success fade in"> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Success!  <%= params[:notice]%></strong>
            </div>
          </div>
        <%end%>
        <% if !flash[:notice].blank? %>
          <div style="padding-top: 1%">
            <div class="alert alert-success fade in">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong><%= flash[:notice]%></strong>
            </div>
          </div>
        <%end%>

        <% if !params[:alert].blank? %>
          <div style="padding-top: 1%">
            <div class="alert alert-danger fade in">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong> Sorry!  <%= params[:alert] %> </strong>
           </div>
         </div>
        <%end%>
        <% if !flash[:alert].blank? %>
          <div style="padding-top: 1%">
            <div class="alert alert-danger fade in">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong> <%= flash[:alert] %> </strong>
           </div>
         </div>
        <%end%>

        <% if !params[:warning].blank? %>
          <div style="padding-top: 1%">
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
               <strong>Warning!  <%= params[:warning] %></strong>          
            </div>
          </div>
        <%end%>
      </div>
    <%= yield %>

    <footer class="bg-dark type-2 site-footer">
      <div class="container">
        <div class="row">
          
          <div class="footer-link bg-black">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="copyright">
                    <span>&copy; 2016 All rights reserved. Allied Hospitality</span>
                  </div>
                  <ul>
                    <li><a href="/" class="link-aqua">Home </a></li>
                    <li><a href="/" class="link-aqua">Services</a></li>
                    <li><a href="/" class="link-aqua">About us </a></li>
                    <li><%=link_to "BOOK A HOTEL", {controller: "bookings", action: "new"}, class: "link-aqua"%></li>
                    <li><a href="/" class="link-aqua">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </footer>  

  </body>
</html>
